#include "resource.h"

IDI_VRC_DRAW_ICON ICON "VRC-Draw.ico"

1 VERSIONINFO
FILEVERSION 0,2,0,0
PRODUCTVERSION 0,2,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "VRC-Draw contributors\0"
            VALUE "FileDescription", "VRC-Draw portable drawing assistant\0"
            VALUE "FileVersion", "0.2.0.0\0"
            VALUE "InternalName", "VRC-Draw\0"
            VALUE "LegalCopyright", "Copyright (c) 2026 VRC-Draw contributors\0"
            VALUE "OriginalFilename", "VRC-Draw.exe\0"
            VALUE "ProductName", "VRC-Draw\0"
            VALUE "ProductVersion", "0.2.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
